@media (max-width:1400px) {
    .top_nav{
        padding: 10px 20px;
    }
}
@media (max-width:995px) {
    .top_nav div:nth-child(1) , 
    .top_nav div:nth-child(3){
        font-size: 12px;
    } 
}
@media (max-width:768px) {
    .top_nav {
        justify-content: center;
    }
    .top_nav div:nth-child(1) , 
    .top_nav div:nth-child(3){
        display: none;
    } 

}

@media (max-width:1400px) {
    nav{
        margin: 0px 20px;
    }
}
@media (max-width:995px) {
    nav ul li a{
        padding: 8px 10px;
    }
}
@media (max-width:768px) {
    nav{
        position: relative;
    }
    nav ul{
        position:absolute;
        flex-direction: column;
        right: 20px;
        bottom: -210px;
        background-color: #161825;
        width: 300px;
        gap: 10px;
        align-items: flex-start;
        transition: 0.5s;
        height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0;
        z-index: 500;
    }
    
    nav .fa-magnifying-glass{
        display: none;
    }
    nav ul li a{
        color: #fff;
    }
    nav .fa-bars{
        display: block;
        font-size: 25px;
        color: var(--main-color);
        cursor: pointer;
    }
    nav ul li a.active ,
    nav ul li a:hover{
        background-color: transparent;
        color: var(--main-color);
    }
    nav:hover  ul{
        height: auto;
        overflow: visible;
        padding: 20px;
        opacity: 1;
    }
}

/* tablet */
@media screen and (max-width: 799px) {
    .Sections{
        padding: 50px 10px 50px 20px;

    }
    .Section-p1  {
        justify-content: center;

    }
    .Section-p1 .fe-box{
        margin: 15px;

    }
    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro-container .pro {
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
        margin-bottom: 20px;
    }
    #sm-banner .banner-box:nth-child(2){
        margin-bottom: 0;
    }
    #banner3 .banner-box{
        width: 28%;
    }
    #newsletter{
        padding: 40px;
    }
    #newsletter .form{
        width: 70%;
    }
    footer{
        margin: 0;
    }

}

/* mobile */
@media screen and (max-width: 400){
    #header{
        padding: 10px 30px;
    }
    #navbar{
        width: 225px;
    }
    .Section-p1{
        padding: 20px;
    }
    #img-slider .slider .info{
        padding: 0 20px;
    }
    #img-slider .slider .info h4{
        padding-bottom: 7px;
    }
    #img-slider .slider .info h1{
        line-height: 1;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #feature .fa-box{
        width: 150px;
        margin: 0 0 15px 0;
    }
    #feature{
        justify-content: space-between;
    }
    #product1 .pro-container .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box:nth-child(2){
        margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 10%;
    }
    footer .copyright{
        text-align: start;
    }

}